* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Mononoki Nerd Font";
    /*not mono so the icons are big*/
    font-size: 13px;
}

window#waybar {
    /*background: rgba(0,0,0,0.0);*/
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;

    background: black;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background: rgba(0,0,0,0.0);
}
window#waybar.solo {
    background: rgba(0,0,0,0.0);
}
*/

window#waybar.termite {
    background: rgba(0,0,0,0.0);
}

window#waybar.chromium {
    background: rgba(0,0,0,0.0);
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 2px;
    background: rgba(0,0,0,0.0);
    color: #ffffff;
    border-radius: 15px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background: rgba(0,0,0,0.0);
    /*box-shadow: inset 0 -3px #ffffff;*/
    border: 3px solid white;
}

#workspaces button.urgent {
    background: rgba(255,128,128,1.0);
    border-radius: 20;
    border: 1px solid red;
}

#mode {
    background: rgba(0,0,0,0.0);
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#keyboard-state,
#window
{
    padding: 0 10px;
    color: white;
    border-left: 1px solid white;
}

#mpd{
    border: none;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background: rgba(0,0,0,0.0);
}

#battery {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background: rgba(0,0,0,0.0);
}

@keyframes blink {
    to {
        background: rgba(0,0,0,0.0);
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background: rgba(0,0,0,0.0);
}

#cpu {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
}

#memory {
    background: rgba(0,0,0,0.0);
}

#disk {
    background: rgba(0,0,0,0.0);
}

#backlight {
    background: rgba(0,0,0,0.0);
}

#network {
    background: rgba(0,0,0,0.0);
}

#network.disconnected {
    background: rgba(0,0,0,0.0);
}

#pulseaudio {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
}

#pulseaudio.muted {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
}

#wireplumber {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
}

#wireplumber.muted {
    background: rgba(0,0,0,0.0);
}

#custom-media {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background: rgba(0,0,0,0.0);
}

#custom-media.custom-vlc {
    background: rgba(0,0,0,0.0);
}

#temperature {
    background: rgba(0,0,0,0.0);
}

#temperature.critical {
    background: rgba(0,0,0,0.0);
}

#tray {
    background: rgba(0,0,0,0.0);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: rgba(0,0,0,0.0);
}

#idle_inhibitor {
    background: rgba(0,0,0,0.0);
    color: white;
}

#idle_inhibitor.activated {
    background: rgba(0,0,0,0.0);
    color: pink;
}

#mpd {
    background: rgba(0,0,0,0.0);
    color: #ffffff;
}

#mpd.disconnected {
    background: rgba(0,0,0,0.0);
}

#mpd.stopped {
    background: rgba(0,0,0,0.0);
}

#mpd.paused {
    background: rgba(0,0,0,0.0);
}

#language {
    /*background: #00b093;*/
    background: rgba(0,0,0,0.0);
    color: #ffffff;
    padding: 0 5px;
    /*margin: 0 5px;*/
    min-width: 16px;
}

#keyboard-state {
    /*background: #97e1ad;*/
    background: rgba(0,0,0,0.0);
    color: #ffffff;
    padding: 0 5px;
    /*margin: 0 5px;*/
    min-width: 16px;
}

#keyboard-state > label {
    /*padding: 0 5px;*/
}

#keyboard-state > label.locked {
    /*text-decoration: underline;*/
    /*background: rgba(0, 0, 0, 0.1);*/
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background: rgba(0,0,0,0.0);
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #ffffff;
}

#privacy-item.screenshare {
    background: rgba(0,0,0,0.0);
}

#privacy-item.audio-in {
    background: rgba(0,0,0,0.0);
}

#privacy-item.audio-out {
    background: rgba(0,0,0,0.0);
}
